body {
    background-color:#F8F8F8;
    font-family: Arial, sans-serif;
  }
  .box{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  h1 {
    text-align: center;
    color: #007ACC;
  }
  .wrapper{
    display: flex;
  }
  
  .container {
    width: 360px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"] {
    width: 70%;
    height: 30px;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #262626;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
    color: #fff;
  }
  
  button {
    width: 60px;
    height: 40px;
    background-color: #007ACC;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .to-dos {
    margin-top: 30px;
  }
  
  .to-do {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .to-do .text {
    font-size: 18px;
    width: 80%;
  }
  
  .to-do button {
    background-color: #FF3B3B;
    margin-left: 20px;
  }
  .paragraph-styling{
    margin: 0;
    cursor: pointer;/*test other types of cursors*/
font-size: 20px;
 background-color: #E6E6FA;

  }
  .symbol-styling{
    text-decoration: none;
    margin-left:20px  ;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
  }
  .symbol-styling:hover{
  color:red ;
  
  }



